{% extends 'pages/base.html' %} 
{% block title %} Contact Information {% endblock %} 
{% block header_title %} Contact Information {% endblock %}
{% block content %} 
<div class="container"> 
  <div class="row"> 
    <div class="col-lg-4 ms-auto"> 
      <p class="lead">Email: fake@example.com</p> 
      <p class="lead">Address: 123 Fake St, Faketown</p>
      <p class="lead">Phone: 555-1234-5678</p> 
    </div> 
    <div class="col-lg-4 me-auto"> 
      <!-- Este espacio puede ser utilizado para cualquier otra información de contacto adicional -->
    </div> 
  </div> 
</div> 
{% endblock %}